{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/galaxy.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %} {% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul class="header-items">
                    <li class="header-item img-item"><a href="{% url 'space:index' %}"><img class="small-img" src="{% static 'images/logo.png' %}" alt=""></a></li>
                    <li class="header-item"><a href="{% url 'space:index' %}" class="header-item-link"><i class="fa-solid fa-house fa-2xs"></i> Главная</a></li>
                    <li class="header-item"><a href="{% url 'space:museums' %}" class="header-item-link">Музеи / Планетарии</a></li>
                    <li class="header-item"><a href="{% url 'space:onlines' %}" class="header-item-link">Онлайн экскурсии</a></li>
                </ul>
                <ul class="header-items">
                    <li class="header-item"><a href="{% url 'space:contact' %}" class="header-item-link">Связаться с нами</a></li>
                    <li class="header-item" style="margin-right: 0;"><a href="" class="header-item-link">О нас</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <!-- background -->
    <!-- <div class="stars"></div>
    <div class="twinkling"></div> -->
</body>


</html>