{% extends 'space/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}


{% block content %}
<div class="grid-cols-2">
    <div class="grid-col">
        <div class="float">
            <h1 class="h1 text-padding-top">Музеи и  пленетарии</h1>
            <span class="span">Музеи и планетарии прямо в калининграде</span>
            <a href="{% url 'space:museums' %}" class="btn">
                <span class="btn-text">Перейти <i class="fa-solid fa-link fa-2xs"></i></span>
            </a>
        </div>
    </div>
    <div class="grid-col">
        <div class="float">
            <h1 class="h1 text-padding-top">Онлайн экскурсии</h1>
            <span class="span">Посещайте различные мероприятия не выходя из дома</span>
            <a href="{% url 'space:onlines' %}" class="btn">
                <span class="btn-text">Перейти <i class="fa-solid fa-link fa-2xs"></i></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}