{% extends 'space/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}


{% block content %}
<div class="float" style="background-color: transparent; margin: 0 auto 0 0;">
    <div class="inner">
        <h1 class="h1 text-padding-top "><span class="c-orange">"</span>Астрономия заставляет душу смотреть вверх и ведет нас из этого мира в другой<span style="color: #ef9a5a;">"</span></h1>
        <h1 class="h1 text-padding-top " style="text-align: right;"><span class="c-orange">(c)</span>Платон</h2>
    </div>
</div>
<div class="margin-btw"></div>
<div class="grid-cols-2">
    <div class="grid-col">
        <div class="float">
            <div class="inner">
                <h1 class="h1 text-padding-top">Музеи и  планетарии</h1>
                <span class=" c-orange">Музеи и планетарии прямо в калининграде</span>
                <a href="{% url 'space:museums' %}" class="btn">
                    <span class="btn-text">Перейти <i class="fa-solid fa-link fa-2xs"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="grid-col">
        <div class="float">
            <div class="inner">
                <h1 class="h1 text-padding-top">Онлайн экскурсии</h1>
                <span class=" c-orange">Посещайте различные мероприятия не выходя из дома</span>
                <a href="{% url 'space:onlines' %}" class="btn">
                    <span class="btn-text">Перейти <i class="fa-solid fa-link fa-2xs"></i></span>
                </a>                
            </div>
        </div>
    </div>
</div>
{% endblock %}

