{% extends 'space/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <!-- <div class="grid-cols-2"> -->
        {% for card in cards %}
            <!-- <div class="grid-col"> -->
                <div class="float" >
                    <div class="inner">
                        <h1 class="h1 underline">{{ card.name }}</h1>
                        <span class="span ">Online</span>
                        <a href="{% url 'space:place' card_id=card.id %}" class="btn a-link">
                            <span class="btn-text">Подробнее <i class="fa-solid fa-arrow-right fa-2xs"></i></span>
                        </a>
                    </div>
                </div>
            <!-- </div> -->
        {% endfor %}
    <!-- </div> -->
{% endblock %}
