{% extends 'space/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="margin"></div>
    <div class="float">
        <div class="inner">
            <div class="flex">
                <h1 class="h1 underline">{{ card.name }}</h1>
                <img src="{{ card.img.url }}" alt="" class="image-box">
            </div>
            <p class="p">{{ card.desc }}</p>
            {% if not card.is_online %}
                <span class="span"><span class="span c-orange">Адрес: </span>{{ card.address }}</span>
            {% endif %}
        </div> 
    </div>
{% endblock %}