@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,400;0,600;1,400&display=swap');


:root {
    --main-black-color: #1c1c1e;
    --main-black-bgcolor: #141414;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-black-bgcolor);
}

h1, h2, h3, h3, h4, h5, h6, p, span, a {
    font-family: 'Raleway';
    color: inherit;
    padding: 0;
}
section {
    width: 100%;
    background-color: transparent;
}
.h1 {
    font-weight: 600;
    font-size: 40px;
}
.text-padding-top {
    padding-top: 20px;
}
.text-margin-bottom {
    margin-bottom: 20px;
}
.h2 {
    font-weight: 500;
    font-size: 30px;
}
.h4 {
    font-size: 24px;
    font-size: 300;
}
.p, .span {
    font-size: 20px;
    font-weight: 300;
}

.header, .footer {
    max-width: 100%;
    padding: 10px 0 15px;
    
    background-color: var(--main-black-color);
    color: #ffffffd2;

    font-family: 'Tahoma';
    font-weight: 600;
    font-size: 22px;
}
.footer {
    padding: 30px 0 30px;
    background-color: var(--main-black-bgcolor);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-items {
    width: max-content;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item {
    padding: 0;
    margin-right: 40px;
}

.header-item-link {
    font-size: inherit;
    user-select: none;
    text-decoration: none;
    transition: color .4s ease;
    color: inherit;
}
.header-item-link:hover {
    color: #fff;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.grid-cols-4, .grid-cols-2, .grid-col, .grid-cols-2-img {
    width: 100%;
    display: grid;
}
.grid-cols-2-img {
    grid-template-columns: 250px auto;
}
.place-grid-main {
    display: grid;
    grid-template-columns: 260px auto;
    align-items: top;
}
.grid-cols-4 {
    grid-template-columns: 25% 25% 25% 25%;
}
.grid-cols-2 {
    grid-template-columns: 50% 50%;
}
.grid-col {
    margin: 0 auto;
    width: 90%;
    /* display: block; */
}

.small-img {
    width: 80px;
    height: 80px;
}