.place-link {
    text-decoration: none;
}
.card {
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */
    position: relative;
    z-index: 5;

    max-width: 600px;
    height: min-content;
    
    /* background-color: #a74d47; */
    padding: 20px 30px;
    border-radius: 20px;
}
.btw {
    z-index: 5;
    position: relative;
    height: 50px;
    width: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin: 4px auto;
}

.card-title {
    display: block;
    color: #fff;
    margin: 10px 0;
    /* font-family: 'Russo One', sans-serif; */
    background-color: inherit;
}
.card-title::selection, .card-title::-moz-selection {
    background-color: #55253f;
    /* color: #a74d47; */
}
