.section__slider {
    color: #fff;
}
.section__search {
    color: #fff;
}
.section__last-places {
    background-color: var(--main-black-color);
    color: #fff;
    margin: 0 auto;
}
.section__place {
    padding: 30px 0;
    max-width: 100%;
    background-color: var(--main-black-bgcolor);
}
.section__description {
    background-color: var(--main-black-color);
    padding: 20px 0px;
}
.section__ctitle {
    background-color: var(--main-black-bgcolor);
    width: 100%;
    padding: 10px 0;
    /* margin-bottom: 20px; */
}
.form-container {
    margin: 40px auto;
    margin-bottom: 100px;
    max-width: 450px;
    background-color: var(--main-black-color);
    color: #fff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px #0a0a0a57;
    transition: box-shadow ease .3s;
    padding-bottom: 20px;
}

.wide {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}


.form-group {
    width: 300px;
    margin: 20px auto;
    text-align: left;
}

.label {
    color: #ef9a5a;
    display: block;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 16px;
    text-align: right;
    margin-bottom: 10px;
}

.input-field, .textarea-field {
    color: #fff;
    outline: none;
    border: none;
    /* border-bottom: 2px solid #9d58e2; */
    border-bottom: 2px solid #ef9a5a;
    background-color: transparent;
    display: inline-block;
    width: 100%;
    font-family: 'Tahoma';
    font-weight: 400;
    font-size: 20px;
}   

.textarea-field {
    /* border: 2px #fff solid;
    border-radius: 10px; */
    min-width: 100%;
    max-width: 100%;
    height: 80px;
    min-height: 100px;
    max-height: 220px;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #ef9a5a;
    /* color: #ef9a5a; */
}

.image-box {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: top;
}


.slider-container {
    width: 100%;
    margin: 0 auto;
}

.slider {
    
}
.slider__items {
    counter-reset: slide;
}

.slider__item {
    counter-increment: slide;
}
.img-block {
    position: relative;
    width: 200px;
}

.slider__item>div::before {
    content: counter(slide);
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
}

.search {
    background-color: var(--main-black-bgcolor);
    max-width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    border: none;
    outline: none;
    color: #0a0a0a;
    background-color: #fff;
    width: 800px;
    height: 64px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Raleway';
}

.search__btn, .button__square {
    cursor: pointer;
    border: none;
    background-color: #fff;
    height: 64px;
    padding: 0 20px;
    /* padding: 20px; */
}
.button__square {
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: hsl(279, 47%, 48%);
    color: #fff;
}
.button__round {
    padding: 10px 12px;
    border: 2px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    transition: border-color .3s ease;
}
.button__square:hover {
    background-color: hsl(279, 70%, 52%);
}
.button__round:hover {
    border-color: hsl(232, 87%, 32%);
}

.btn-text {
    font-family: 'Tahoma';
    padding-right: 0;
    font-weight: 500;
    font-size: 22px;
    color: inherit;
    text-align: center;
}

.cards {
    width: 100%;
}
.card {
    width: 200px;

    /* background-color: hsl(234, 55%, 62%); */
    border-radius: 10px;
}
.card__img-block {
    height: max-content;
    width: max-content;
}
.card__img {
    width: 200px;
}
.link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.link:hover {
    color: hsl(249, 63%, 50%);
}
.block {
    /* background-color: hsl(234, 43%, 26%); */
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}
/* .place-img-block {
    margin: 0 20px 0 0;
    padding: 34px 0 0 0;
} */
.place__table {
    /* border: 1px #fff solid; */
}
.tr {
    height: 1px;
}
.place__table h4 {
    padding-right: 20px;
}
.rating__group {
    padding-right: 20px;
}
.rating__star {
    display: inline;
}